.form__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/close-button.svg");
  background-size: contain;
}

.form__close-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}