.header {
  min-height: 74px;
  padding: 45px 160px 0;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 45px 200px 0;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 45px 40px 0;
  }
}

@media screen and (max-width: 424px) {
  .header {
    padding: 0;
    padding-top: 28px;
  }
}