.elements {
  padding: 50px 160px 0;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%));
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (min-width: 1280px) {
  .elements {
    padding: 40px 200px 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .elements {
    padding: 45px 40px 0;
  }
}

@media screen and (max-width: 767px) {
  .elements {
    padding: 36px 120px 0;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 0;
    row-gap: 40px;
  }
}

@media screen and (max-width: 512px) {
  .elements {
    padding: 36px 80px 0;
  }
}

@media screen and (max-width: 424px) {
  .elements {
    padding: 36px 19px 0;
    row-gap: 20px;
  }
}